body {
  font-family: 'Source Sans Pro', sans-serif;
  line-height: 2rem;
}

#intro {
  @include mq($from: tablet) {
    padding: 4rem;
  }


  .col.col-12.sm-col-7 {
    @include mq($from: tabletLarge) {
      padding-left: 30px;
    }
  }
}

#booking {
  margin-top: 5px;

  @include mq($from: tabletLarge) {
    margin-top: 0;
    margin-left: 2.5px;
  }
}

#pricing {
  margin-top: 5px;

  @include mq($from: tabletLarge) {
    margin-top: 0;
    margin-right: 2.5px;
  }
}

#quote,
#more-info,
#booking,
#pricing,
#intro {
  @include mq($from: tablet) {
    padding-top: 150px;
    padding-bottom: 150px;
  }
}
