// Colour Variables
$escape-green: #44b649;
$escape-orange: #f7914e;

// Font Family
.brand-type {
  font-family: houschka-pro, sans-serif;
}

// Layout
.bg-green {
  background: $escape-green;
}

.bg-white {
  background: #fff;
}

.content {
  padding: 2.5rem;
  color: #fff;
}

// .separator {
//   height: 125px;
//   margin-top: calc(125px * -1);

//   &--left {
//     background-image: linear-gradient(to bottom right, $escape-green, $escape-green 50%, transparent 50%, transparent);
//   }

//   &--left-white {
//     background-image: linear-gradient(to bottom right, transparent, transparent 50%, #fff 50%, #fff);
//   }
// }
