// Colour Variables
$escape-green: #44b649;
$escape-orange: #f7914e;

.green {
  color: $escape-green;
}

// Font Family
.brand-type {
  font-family: houschka-pro, sans-serif;
}

// Layout
.bg-green {
  background: $escape-green;
}

.bg-white {
  background: #fff;
}

.content {
  padding: 2.5rem;
  color: #fff;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  img {
    margin: 10px;
  }
}
