// Font Family
.brand-type {
  font-family: houschka-pro, sans-serif;
}

// Text Styles
.text-white {
  color: #fff;
}

// Background Styles
.bg-green {
  background: #44B649;
}

.bg-orange {
  background: #FF8A48;
}

// Button Styles
.btn {
  border: 1px solid #fff;
  text-decoration: none;
  color: #fff;
  padding: 20px 100px;

  &:active {
    color: #fff;
  }
}

// Layout
.flexbox {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  flex-direction: column;

  @include mq($from: tabletLarge) {
    flex-direction: row;
  }
}
