$parallax-min-height: 500px;
$header-nav-min-height: 10px;
$header-nav-width: 100vw;
$header-nav-ul-after-padding: 15px;
$header-nav-list-padding: 10px;
$header-nav-hover-background: #f4f4f4;
$header-nav-logo-width-default: 260px;
$header-nav-logo-width-desktop: 340px;
$header-nav-menu-icon-padding: 55px 15px;
$header-nav-menu-icon-padding-desktop: 45px 15px;
$header-navicon-height: 3px;
$header-navicon-width: 30px;
$header-navicon-before-top: 8px;
$header-navicon-after-top: -8px;
$header-checked-menu-btn-max-height: 540px;
$header-checked-menu-icon: 0px;

// Global Header
.global-header {
  min-height: 10px;
  background: $escape-green;

  &__bg {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    height: 180px;
    width: 100%;
    background-image: linear-gradient($escape-green, $escape-green);
    transform: skewY(-4deg);
    transform-origin: top left;
    z-index: 3;
  }

  // Header Navigavtion
  .header-nav {
    position: fixed;
    z-index: 3;
    width: $header-nav-width;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      overflow: hidden;
    }

    li a {
      display: block;
      padding: $header-nav-list-padding;
      text-decoration: none;
      transform: skewY(4deg);
      color: #fff;
    }

    .menu {
      clear: both;
      max-height: 0;
      transition: max-height .2s ease;
      padding-left: 30px;
      padding-right: 30px;
      background-image: linear-gradient($escape-green, $escape-green);
      transform: skewY(-4deg);
      transform-origin: top left;

      @include mq($from: tablet) {
        padding-left: 35px;
        padding-right: 35px;
      }


      @include mq($from: tabletLarge) {
        padding-left: 40px;
        padding-right: 40px;
      }


      @include mq($from: desktop) {
        padding-left: 45px;
        padding-right: 45px;
      }
    }

    .menu-icon {
      cursor: pointer;
      display: inline-block;
      float: right;
      padding: $header-nav-menu-icon-padding;
      position: relative;
      user-select: none;

      @include mq($from: desktop) {
        padding: $header-nav-menu-icon-padding-desktop;
      }


      .navicon {
        background: $escape-orange;
        display: block;
        height: $header-navicon-height;
        position: relative;
        transition: background .2s ease-out;
        width: $header-navicon-width;

        &:before,
        &:after {
          background: $escape-orange;
          content: '';
          display: block;
          height: 100%;
          position: absolute;
          transition: all .2s ease-out;
          width: 100%;
        }

        &:before {
          top: $header-navicon-before-top;
        }

        &:after {
          top: $header-navicon-after-top;
        }
      }
    }

    .menu-btn {
      display: none;

      &:checked ~ .menu {
        max-height: $header-checked-menu-btn-max-height;
        display: block;
      }

      &:checked ~ .menu-icon .navicon {
        background: transparent;

        &:before {
          transform: rotate(-45deg);
        }

        &:after {
          transform: rotate(45deg);
        }
      }

      &:checked ~ .menu-icon:not(.steps) .navicon {
        &:before,
        &:after {
          top: $header-checked-menu-icon;
        }
      }
    }
  }
}

// Parallax Scroll
.parallax-container {
  min-height: 500px;
  background: transparent;
}

.global-logo {
  img {
    width: $header-nav-logo-width-default;

    @include mq($from: desktop) {
      width: $header-nav-logo-width-desktop;
    }
  }
}
