$parallax-min-height: 500px;
$header-nav-min-height: 10px;
$header-nav-width: 100vw;
$header-nav-ul-after-padding: 15px;
$header-nav-list-padding: 10px;
$header-nav-hover-background: #f4f4f4;
$header-nav-logo-width-default: 155px;
$header-nav-logo-width-tablet: 175px;
$header-nav-logo-width-tabletLarge: 185px;
$header-nav-logo-width-desktop: 200px;
$header-nav-menu-icon-padding: 30px 15px;
$header-navicon-height: 3px;
$header-navicon-width: 30px;
$header-navicon-before-top: 8px;
$header-navicon-after-top: -8px;
$header-checked-menu-btn-max-height: 540px;
$header-checked-menu-icon: 0px;

// Global Header
.global-header {
  min-height: $header-nav-min-height;

  // Header Navigavtion
  .header-nav {
    position: fixed;
    z-index: 3;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 60%, 0% 100%);
    width: $header-nav-width;
    background: $escape-green;
    top: 0;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      overflow: hidden;
      background-color: $escape-green;
    }

    li a {
      display: block;
      padding: $header-nav-list-padding;
      text-decoration: none;
      color: $escape-orange;

      &:hover,
      .header .menu-btn:hover {
        background-color: $header-nav-hover-background;
      }
    }

    .menu {
      clear: both;
      max-height: 0;
      transition: max-height .2s ease;
      padding-left: 30px;
      padding-right: 30px;

      @include mq($from: tablet) {
        padding-left: 35px;
        padding-right: 35px;
      }


      @include mq($from: tabletLarge) {
        padding-left: 40px;
        padding-right: 40px;
      }


      @include mq($from: desktop) {
        padding-left: 45px;
        padding-right: 45px;
      }
    }

    .menu-icon {
      cursor: pointer;
      display: inline-block;
      float: right;
      padding: $header-nav-menu-icon-padding;
      position: relative;
      user-select: none;

      .navicon {
        background: $escape-orange;
        display: block;
        height: $header-navicon-height;
        position: relative;
        transition: background .2s ease-out;
        width: $header-navicon-width;

        &:before,
        &:after {
          background: $escape-orange;
          content: '';
          display: block;
          height: 100%;
          position: absolute;
          transition: all .2s ease-out;
          width: 100%;
        }

        &:before {
          top: $header-navicon-before-top;
        }

        &:after {
          top: $header-navicon-after-top;
        }
      }
    }

    .menu-btn {
      display: none;

      &:checked ~ .menu {
        max-height: $header-checked-menu-btn-max-height;
        display: block;
      }

      &:checked ~ .menu-icon .navicon {
        background: transparent;

        &:before {
          transform: rotate(-45deg);
        }

        &:after {
          transform: rotate(45deg);
        }
      }

      &:checked ~ .menu-icon:not(.steps) .navicon {
        &:before,
        &:after {
          top: $header-checked-menu-icon;
        }
      }
    }

    .clearfix:after {
      padding: $header-nav-ul-after-padding;
    }
  }
}

// Parallax Scroll
.parallax-container {
  min-height: 500px;
  background: transparent;
}

.global-logo {
  display: block;
  text-decoration: none;

  img {
    width: $header-nav-logo-width-default;

    @include mq($from: tablet) {
      width: $header-nav-logo-width-tablet;
    }


    @include mq($from: tabletLarge) {
      width: $header-nav-logo-width-tabletLarge;
    }


    @include mq($from: desktop) {
      width: $header-nav-logo-width-desktop;
    }
  }
}
